<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmbOcclusionA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AmbientOcclusion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Raytracing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Rendering2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShadowMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Trabalho1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Trabalho2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B76DFCE6194342E300D237D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78FA53219434C60004AF7D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78FA54219435ABF004AF7D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B791EA37191C1324005A03F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7CA957A190743FC007FDC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FBA6281934E28700E018F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FBA6381934E7AC00E018F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FBA6481934EBEA00E018F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
